
html, body {
  margin: 0;
  height: 100%;
}
body {
  border: 1px solid transparent;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  background:linear-gradient(#3C8D2F,#0A4600) no-repeat
}
.node{
  background-color: yellow;
}